# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = {{ fullname }}
	email = {{ email_accounts[0].address }}
[init]
	templatedir = ~/.git_template
[core]
	excludesfile = /home/{{ username }}/.gitignore
[commit]
	gpgsign = true
[diff]
	# Detect copies as well as renames
	renames = copies
[push]
	# Push only current branch
	default = current
[pull]
	rebase = true
