source accounts/{{ email_accounts[0].account_name }}
source colors
source keybinds
source powerline

{% for email in email_accounts %}
folder-hook {{ email.account_name }} 'source ~/.mutt/accounts/{{ email.account_name }}'
{% endfor %}

# Sign messages with pgp
set pgp_autosign=yes

# Sort by threads
set sort = threads
# Sort threads by last date recieved - newest first
set sort_aux = reverse-last-date-received
# Show date in year/month/day hour:minute format
set date_format="%y/%m/%d %I:%M%p"

# Mailcap file is used to tell mutt how to open different types of file
set mailcap_path = "~/.mutt/mailcap"

# Tells Mutt to automatically view files with these mime types
auto_view text/html
# Order to try and show multipart emails
alternative_order text/plain text/enriched text/html

# Set default charset
set send_charset="us-ascii:utf-8"

# Use nvim but don't force text width (looks terible if read on a phone)
set editor = "nvim +':set textwidth=0'"

set collapse_all = yes
set uncollapse_new = yes


# Pager View Options ---------------------------------
set tilde
unset markers              # no ugly plus signs
set pager_index_lines=7

#apply mutt commands by default to all selected (tagged) messages without using tag-prefix
set auto_tag = yes


ignore *                                # ignore all headers
unignore from: to: cc: date: subject:   # show only these
unhdr_order *                           # some distros order things by default
hdr_order Date: From: To: Cc: Subject:  # and in this order

set display_filter="exec sed -r \"s/^Date:\\s*(([F-Wa-u]{3},\\s*)?[[:digit:]]{1,2}\\s+[A-Sa-y]{3}\\s+[[:digit:]]{4}\\s+[[:digit:]]{1,2}:[[:digit:]]{1,2}(:[[:digit:]]{1,2})?\\s+[+-][[:digit:]]{4})/date +'Date: %a, %d %b %Y %H:%M:%S %z' -d '\\1'/e\""

#set sidebar_visible = yes
